@tailwind base;
@tailwind components;
@tailwind utilities;


#AiField {
  width: 70%;
  margin-top: 95%;
  margin-left: auto;
  margin-right: auto;

}

.card {
  background-color: rgb(31, 28, 46);
  width: 100px;
  height: 100px;

}